.ctboxs{
	width: 520px;
	height: 280px;
	position: relative;
	overflow: hidden;
	margin:0 auto;
	margin-top:20px;
}
.ctboxs .ctbox{
	width: 430px;
	height: 280px;
	display: flex;
	position: absolute;
	top:0;
	transition: 2s linear;
}
.ctboxs .ct1{left:0;}
.ctboxs .ct2{left:430px;}
.ctboxs .ct3{left:460px;}
.ctboxs .ct4{left:490px;}
.ctboxs .ctbox .title{
	font-size: 22px;
	padding: 80px 2px 0;
	line-height: 36px;
	color:white;
}
.ctboxs .ct1 .title{
	background:#00007F;
}
.ctboxs .ct2 .title{
	background:#EE8800;
}
.ctboxs .ct3 .title{
	background:#7F7F00;
}
.ctboxs .ct4 .title{
	background:#2361AD;
}