#tp{
		width: 1200px;
		height: 450px;
		display: flex;
		border:1px solid blue;
		position: relative;
		overflow: hidden;
	}
	.yjn{
		width:600px;
		height:450px;
		position: absolute;
		transition: 2s linear;
	}
	.y1{
    background-image:url('images/t1.jpg');
    left:-150px;
	}
	.y2{
    background-image:url('images/t2.jpg');
    left:300px;
	}
	.y3{
    background-image:url('images/t3.jpg');
    left:600px;
	}
	.y4{
    background-image:url('images/t4.jpg');
    left:900px;
	}